@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {

  /* Primary */
  --blue: hsl(246, 80%, 60%);
  --light-red: hsl(15, 100%, 70%);
  --soft-blue: hsl(195, 74%, 62%);
  --light-redS: hsl(348, 100%, 68%);
  --lime-green: hsl(145, 58%, 55%);
  --violet-social: hsl(264, 64%, 52%);
  --soft-orange: hsl(43, 84%, 65%);

  /* Neutral */
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
  --white: white; 
  --card-hover: hsl(236, 40%, 34%);

  /* Typography */
  --font-family: "Rubik", sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 81px 24px;
  font-family: "Rubik", sans-serif;
  background-color: var(--very-dark-blue);
  color: var(--white);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1110px;
}

.dashboard-profile {
  /* width: 100%; */
  background-color: var(--dark-blue);
  border-radius: 15px;
}

.user {
  /* box-sizing: content-box; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  padding: 32px;
  /* width: 100%; */
  border-radius: 15px;
  background-color: var(--blue);
}

.user-img {
  box-sizing: border-box;
  /* flex: 1 1 70px; */
  min-width: 70px;
  max-width: 78px;
  border: 3px solid var(--white);
  border-radius: 50%;
}

.user-name {
  margin: 0;
  line-height: 24px;
  flex: 1 0 176px;
  font-size: 24px;
  font-weight: 300;
}

.user-report {
  display: block;
  font-size: 15px;
  font-weight: 400;
  color: var(--pale-blue);
}

.stats {
  margin: 0;
  padding: 24px 32px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.stats-item {
  font-weight: 400;
  color: var(--pale-blue);
  cursor: pointer;
}

.stats-item--active {
  color: var(--white);
}

.stats-item:hover {
  color: var(--white);
}

.dashboard-activities {
  display: flex;
  flex-direction: column;
  gap: 24px;
 
}

.card {
  min-width: 255px;
}

.card-background {
  display: flex;
  align-items: end;
  min-height: 160px;
  border-radius: 15px;
}

.card:nth-of-type(1) > div {
  background: url('../images/icon-work.svg');
  background-repeat: no-repeat;
  background-position: right 10px top -10px;
  background-color: var(--light-red);
}

.card:nth-of-type(2) > div {
  background: url('../images/icon-play.svg');
  background-repeat: no-repeat;
  background-position: right 10px top -10px;
  background-color: var(--soft-blue);
}

.card:nth-of-type(3) > div {
  background: url('../images/icon-study.svg');
  background-repeat: no-repeat;
  background-position: right 10px top -10px;
  background-color: var(--light-redS);
}

.card:nth-of-type(4) > div {
  background: url('../images/icon-exercise.svg');
  background-repeat: no-repeat;
  background-position: right 10px top -10px;
  background-color: var(--lime-green);
}

.card:nth-of-type(5) > div {
  background: url('../images/icon-social.svg');
  background-repeat: no-repeat;
  background-position: right 10px top -10px;
  background-color: var(--violet-social);
}

.card:nth-of-type(6) > div {
  background: url('../images/icon-self-care.svg');
  background-repeat: no-repeat;
  background-position: right 10px top -10px;
  background-color: var(--soft-orange);
}


.card-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
  padding: 28px 24px;
  border-radius: 15px;
  background-color: var(--dark-blue);
}

.card-container:hover {
  background-color: var(--card-hover);
  cursor: pointer;

}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  margin: 0;
  font-weight: 500;
}

.card-current {
  margin: 0;
  font-size: 32px;
  font-weight: 300;
}

.card-previous {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  color: var(--pale-blue);
}

@media screen and (min-width: 1110px) {
  body {
    min-height: 100vh;
    padding: 0;
    display: grid;
    place-items: center;
  }
  .main {
    flex-direction: row;
    gap: 30px;
  }

  .dashboard-profile {
    max-width: 255px;
  }

  .dashboard-activities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .user {
    /* padding: 37px 32px; */
    flex-direction: column;
    gap: 35px;
    
  }

  .user-img {
    align-self: flex-start;
  }

  .user-name{
    font-size: 43px;
    line-height: 42px;
  }

  .stats {
    padding: 32px;
    padding-top: 26px;
    flex-direction: column;
    gap: 17px;
  }

  .card {
    display: flex;
  }

  .card-background {
    flex: 1;
  }

  .card-container {
    padding: 29px;
    padding-bottom: 32px;
    gap: 24px;
  }

  .card-content:last-child {
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }

  .card-current {
    font-size: 56px;
  }

}



